<!doctype html>
<html>
<head>
<title>{{ or .Title .ServerName }}</title>
<link href="/style.css{{ .StyleParam }}" rel="stylesheet">
{{ if .LocalStyleParam }}
<link href="/local.css{{ .LocalStyleParam }}" rel="stylesheet">
{{ end }}
{{ .APAltLink }}
{{ .Honkology }}
<link rel="manifest" href="/manifest.webmanifest">
<link href="/icon.png" rel="icon">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width">
<script src="/registerworker.js" defer></script>
</head>
<body{{ if .UserStyle}} {{ .UserStyle }}{{ end }}>
<header>
{{ if .UserInfo }}
<details id="topmenu">
<summary>menu<span> {{ .UserInfo.Name }}</span></summary>
<ul>
<li><a id="homelink" href="/">home</a>
<li><a id="atmelink" href="/atme">@me<span id=mecount>{{ if .UserInfo.Options.MeCount }}({{ .UserInfo.Options.MeCount }}){{ end }}</span></a>
<li><a id="firstlink" href="/first">first</a>
<li class="details">
<details>
<summary>combos</summary>
<ul>
{{ range .Combos }}
<li><a class="combolink" href="/c/{{ . }}">{{ . }}</a>
{{ end }}
</ul>
</details>
<li><a href="/chatter">chatter<span id=chatcount>{{ if .UserInfo.Options.ChatCount }}({{ .UserInfo.Options.ChatCount }}){{ end }}</span></a>
<li><a href="/o">tags</a>
<li><a href="/events">events</a>
<li><a id="longagolink" href="/longago">long ago</a>
<li><a id="savedlink" href="/saved">saved</a>
<li><a href="/honkers">honkers</a>
<li><a href="/hfcs">filters</a>
<li><a href="/account">account</a>
<li class="details">
<details>
<summary>more stuff</summary>
<ul>
<li><a href="/{{ .UserSep }}/{{ .UserInfo.Name }}">my honks</a>
<li><a href="/about">about</a>
<li><a href="/front">front</a>
<li><a href="/funzone">funzone</a>
<li><a href="/xzone">xzone</a>
</ul>
</details>
<li><a href="/help/honk.1.html">help</a>
<li>
<form action="/q" method="GET">
<input type="text" name="q" autocomplete=off size=10 id="searchbox" placeholder="search">
</form>
</ul>
</details>
<div id="topspacer">
<p>
<p class="nophone">top
</div>
{{ else }}
<div id="topmenu">
<span><a id="homelink" href="/">home</a></span>
<span><a href="/o">tags</a></span>
<span><a href="/events">events</a></span>
<span><a href="/about">about</a></span>
{{ if .ShowRSS }}
<span><a href="/rss">rss</a></span>
{{ end }}
<span><a href="/login">login</a></span>
</div>
{{ end }}
</header>
