{{ template "header.html" . }}
<main>
<div class="info">
<p>ontologies of interest
{{ $firstrune := .FirstRune }}
<ul>
<li><p>
{{ range .Pops }}
<span class="wsnowrap"><a href="/o/{{ .Name }}">#{{ .Name }}</a> ({{ .Count }})</span>
{{ end }}
{{ $letter := 0 }}
{{ range .Onts }}
{{ if not (eq $letter (call $firstrune .Name)) }}
{{ $letter = (call $firstrune .Name) }}
<li><p>
{{ end }}
<span class="wsnowrap"><a href="/o/{{ .Name }}">#{{ .Name }}</a> ({{ .Count }})</span>
{{ end }}
</ul>
</div>
</main>
